<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>肺炎診断</title>
    <link rel="stylesheet" href="./static/stylesheet.css">
</head>
<body>
    <header>
        <a class="header-logo" href="#">肺炎診断</a>
    </header>

    <div class="main">
        <h2> AIが送信された画像の肺炎の有無を識別します</h2>
        <p>画像を送信してください</p>
        <form method="POST" enctype="multipart/form-data">
            <input class="file_choose" type="file" name="file">
            <input class="btn" value="submit!" type="submit">
        </form>
        <img class="image" src="{{images}}">
        <div class="answer">{{answer}}</div>
    </div>

    <footer>
        <small>&copy; y4308　</small>
    </footer>
</body>
</html>
